<launch>
  <arg name="dnamespace" default="common" />
  <!--include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/-->
  <include file="$(find imagesaver)/launch/ims_online_a_saver_service.launch">
    <arg name="dnamespace" value="$(arg dnamespace)"/>
  </include>
  <include file="$(find imagesaver)/launch/ims_online_b_saver_trigger.launch">
    <arg name="dnamespace" value="$(arg dnamespace)" />
  </include>
</launch>
